* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

body {
    position: relative;
    height: 100%;
}

#wave {
    height: 200px;
    width: 100%;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;   
    font-size: 3.5rem;
    margin-bottom: 50px;
}

#svg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line if they overflow */
    gap: 15px; /* Adjust spacing between cards */
    justify-content: space-around; /* Adjust the alignment of the cards */   
}

.outerDiv {
    border: 1px black solid;
    border-radius: 10px;
    margin: 20px;
    width: 350px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 2;
}   

.innerDiv {
    width: 300px;
}

.image {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.name {
    font-weight: 700;   
    margin-bottom: 10px; 
}

.priceNdis {
    font-weight: 700;
    margin-bottom: 20px;
}

.description {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
}

.btnDiv {
    display: flex;
    justify-content: flex-end;
}

.buyBtn {
    width: 63px;
    height: 35px;
    border-radius: 10px;
    background-color: #FF497C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

footer {
    background-color: #0099FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relativeab;
    padding: 20px;
    bottom: 0px;
}

#footerContent {
    flex: 1;
    font-style: italic;
}

.thanking {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-arrow {
    margin-left: 5px;
    max-width: 100%
}

.icon-rocket {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 1;
}

@media (max-width: 790px) {
    #wave {
        height: 100px;
        width: 100%;
    }
    #title {
        font-size: 2rem;
    }
}